.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer > p {
  margin-top: 15px;
}

.gallery {
  width: 25vw;
  height: 35vh;
  margin: 2vh auto;
}
